#root {
  --price: #ea580c;
  --addToCart: #15803d;
  --addToCartHover: #14532d;
  --description: #374151;
  --buy: #111827;
  --footer: #9ca3af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
}

img {
  display: block;
}
